@font-face {
  font-family: fredoka;
  font-weight: semibold;
  src: url("file:///android_res/font/fredoka.ttf");
}
body {
    margin: 0;
    background-color: #040458;
}
.image1{
    display:flex;
flex-shrink: 1;
margin-bottom: 5%;
width: 100%;
height: auto;
z-index: 1;
justify-content: center;
align-items: center;
margin-top: 2%;
position: relative;
z-index: 2;
}
.bg{
    position: absolute;
    z-index: 1;
    display: block;
    margin: 0;
    width:100%;
    height: auto;
}
.ask{
    position: relative;
    z-index: 2;
    font-family: fredoka;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0F0F35;
    text-align: center;
    width: 100%;
    top: 30%;
}
.name{
    position: relative;
    z-index:2;
    font-family: fredoka;
    border-radius: 50px;
    padding: 10%;
    width: auto;
    text-align: center;
    margin-top: 42%;
    /* border: 2px solid black; */
}
.name input{
    display: block;
    width:auto;
    height:auto;
    padding: 5%;
    margin: 10%;
    z-index:3;
    border: 3px solid #0F0F35;
    border-radius: 30px;
}
input::placeholder{
    color: #0F0F35;
    font-family: fredoka;
    font-size: 1rem;
    padding-bottom: 5%;
    font-weight: 500;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.nextbtn{
    display: block;
    width: auto;
    height: auto;
    background-color: white;
    color: #040458;
    font-family: fredoka;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 3% 10%;
    border: 1px solid transparent;
    border-radius: 30px;
    z-index: 3;
}
.nextbtn:hover{
    background-color: rgb(255,255,255,0.5);
}
button[type="submit"]:hover {
    background-color: #3e8e41;
}
