@font-face {
  font-family: fredoka;
  font-weight: semibold;
  src: url("file:///android_res/font/fredoka.ttf");
}
body{
    background: #040458;
    margin: 0;
}
.header{
    display:flex;
flex-shrink: 1;
margin-bottom: 5%;
width: 100%;
height: auto;
z-index: 1;
justify-content: space-between;
align-items: center;
margin-top: 5%;
position: relative;
z-index: 2;
}
.arrow{
    margin-left: 5%;
}

.btn-me {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(4, 4, 88, 1);
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  font-family: 'Inika', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  margin-right: 5%;
}
.image {
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.image img{
    width: auto;
  height: auto;
  mix-blend-mode: hard-light;
}
.parent-div {
  background-color: white;
  position: absolute;
  z-index: 2;
  margin-top: 70%;
  width: 100%;
  height: 50%;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 0;
}
.heading {
  font-size: 1.5rem;
  color: #040458;
  font-family:fredoka;
  text-decoration: underline;
  color: rgba(4, 4, 88, 1);
  padding-top: 15px;
}
.child-div {
  width: auto;
  height: auto;
  box-shadow: 2px 2px 2px 2px grey;
  margin: 5%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.child-div img {
  width: 20%;
  height: 20%;
  border-radius: 20px;
}
.text {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 5%;
  color: #040458;
  font-family: fredoka;
}
.by-whom {
  font-size: 1rem;
  padding: 5%;
  font-weight: 400;
  color: #040458;
  font-family: fredoka;
}
.stars {
  font-size: 1rem;
  padding: 5%;
  color: #040458;
  font-family: fredoka;
}
.view-all {
  text-decoration:none;
  color: #040458;
  font-family: fredoka;
  cursor: pointer;
  font-size: 1rem ;
}
.all{
    display: block;
    position: relative;
}
.s img{
display:block;
width:70%;
height:auto;
}
