@font-face {
  font-family: fredoka;
  font-weight: semibold;
  src: url("file:///android_res/font/fredoka.ttf");
}
body{
    background: #040458;
    margin: 0;
}
.diary{
    display: block;
    width: 80%;
    height: auto;
    mix-blend-mode: hard-light;
}
.diary_cont{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
}
.header{
    display:flex;
flex-shrink: 1;
width: 100%;
height: auto;
z-index: 1;
justify-content: space-between;
align-items: center;
margin-top: 5%;
position: relative;
z-index: 2;
}
.arrow{
    margin-left: 5%;
}

.btn-me {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(4, 4, 88, 1);
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  font-family: 'Inika', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  margin-right: 5%;
}
.text {
  display: flex;
  justify-content: space-around;
  text-align: ;
  font-family: fredoka;
  font-size: 1rem;
  font-weight: 600;
}
  .text1 {
    text-align: center;
    font-family: fredoka;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFF;
  }
  .text p {
    display: inline;
    color: white;
    font-size: 1rem;
    border-bottom: 3px solid white;
    padding-bottom: 2%;
    margin-bottom: 5%;
  }
  .buttons {
    text-align: center;
  }
  .button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    font-weight: 7;
    border-radius: 20px;
    width: 132px;
    height: 43px;
    font-size: 20px;
  }
  .cancel {
    font-family: fredoka;
    font-weight: 600;
    background-color: white;
    color: black;
  }
  .save {
    font-family: fredoka;
    background-color: rgba(239, 164, 143, 1);
    color: black;
    font-weight: 600;

  }
  .container {
    text-align: center;
  }
  .content {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 48px;
    color:black;
  }
  .content h2 {
    display: inline-block;
    font-family: fredoka;
    margin-right: 10px;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .content img {
    vertical-align: middle;
    width: 40px;
    height: auto;
    margin-bottom: 0px;
  }
  .divider {
    width: 100%;
    border-top: 3px solid black;
    margin: 0px 0;
  }
  .textarea {
    width: 100%;
    padding: 0px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 0px;
  }
textarea::placeholder{
    color: #040458;
    font-family: fredoka;
    font-weight: 500;
    padding: 2%;
}