@font-face {
  font-family: fredoka;
  font-weight: semibold;
  src: url("file:///android_res/font/fredoka.ttf");
}
body {
    margin: 0;
    background-color: #040458;
}
.image1{
    display:flex;
flex-shrink: 1;
margin-bottom: 5%;
width: 100%;
height: auto;
z-index: 1;
justify-content: center;
align-items: center;
margin-top: 2%;
position: relative;
z-index: 2;
}
.heading{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}
.heading h1{
    font-family: fredoka;
    font-weight: 600;
    font-size: 1.75rem;
    color: white;
}
img{
    display: inline-block;
}
.prof{
    display: block;
    width: 25%;
    height: auto;
    border: 2px solid #A699E1;
    border-radius: 400px;
    margin-right: 5%;
}
.pfp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10% auto;
}
.pfpinfo{
    text-align: center;
    color: #F5F5F5;
    font-family: fredoka;
    font-size: 1rem;
    font-weight: 500;
}
.pwd{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pwd input{
    display: inline-block;
    margin: 2%;
    width: 75%;
    height: auto;
    padding: 2%;
    padding-bottom: 5%;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: 2px solid transparent;
    border-bottom: 3px solid white;
}
input::placeholder{
    color: white;
    font-family: fredoka;
    font-size: 1rem;
    padding-bottom: 5%;
    font-weight: 500;
}
.btn{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nextbtn{
    display: block;
    width: auto;
    height: auto;
    background-color: white;
    color: #040458;
    font-family: fredoka;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 3% 10%;
    border: 1px solid transparent;
    border-radius: 30px;
}
.nextbtn:hover{
    background-color: rgb(255,255,255,0.5);
}
button[type="submit"]:hover {
    background-color: #3e8e41;
}

.note {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 10px;
}
.name{
    margin-top: 5%;
}